@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    padding: 30px 20px;
}

/* Title section */
.title {
    font-size: 4em;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
    text-align: center;
    color: var(--fontcolorL);
}

.slogan {
    font-family: "Playwrite FR Moderne", cursive;
    letter-spacing: 3px;
    line-height: 48px;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
    color: var(--fontcolorL);
    text-align: center;
}

/* Info boxes container */
.info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}


.boxes div {
    background-color: #222; 
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    border: 2px solid #555; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}


.boxes div:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer; 
}


/* Box heading styling */
.boxes h1 {
    font-size: 1.6rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    color: #ffffff;
}

/* Box paragraph styling */
.boxes p {
    font-size: 1.3rem;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #cccccc;
}


@media screen and (max-width: 900px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .boxes div {
        width: 100%;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        margin-top: 50px;
    }
    
    /* Title section */
    .title {
        font-size: 3em;
        font-family: "Lilita One", sans-serif;
        font-weight: 200;
        font-style: normal;
        margin-bottom: 8px;
        text-align: center;
        color: var(--fontcolorL);
    }

    .slogan {
        font-family: "Playwrite FR Moderne", cursive;
        line-height: 30px;
        font-size: 0.8rem;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 40px;
        color: var(--fontcolorL);
        text-align: center;
    }
}


